* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;;
}

p {
  padding: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  /* vertical-align: top; */
  margin: auto;
  background-color: lightgray;
}

input {
  background-color: lightgray;
  margin: 20px auto;
}